/* Footer.css */
.footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socialMedia {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.2);
}

/* Specific colors for Instagram and Email icons */
.instagram-icon {
  color: #E1306C; /* Instagram Pink */
}

.email-icon {
  color: #4285F4; /* Google Blue */
}

.footer-text {
  font-size: 1rem;
  margin-top: 10px;
}
